<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yeah1.sitter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".util.SitterApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".view.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".view.JoinActivity" />
        <activity
            android:name=".view.JoinDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".view.SitterDetailActivity" />
        <activity
            android:name=".view.RegistrationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".view.SitterRegistrationActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".view.MyPageActivity" />
        <activity android:name=".view.ChoiceListActivity" />
        <activity
            android:name=".view.SitterInfoActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".view.ProfileActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity android:name=".view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.SurveyActivity" />
        <activity android:name=".view.ChattingRoomActivity" />
        <activity android:name=".view.ChattingActivity"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"></activity>

        <service android:name=".util.FirebaseBackgroundService"/>

    </application>

</manifest>